<div class="container mt-5 mb-5">
    {{#if data.isValid}}
    <div class="row justify-content-between">
        {{#each data.docs}}
        <div class="card m-2" style="width: 18rem;">
            <a href="http://localhost:8080/products/{{this._id}}">
                <img src="{{this.thumbnail}}" height="250" class="card-img-top rounded p-1" alt="{{this.title}}">
            </a>
            <div class="card-body">
                <h5 class="card-title">${{this.price}}</h5>
                <p class="card-text text-secondary">{{this.title}}</p>
                <a href="http://localhost:8080/products/{{this._id}}" class="btn btn-outline-success">More...</a>
            </div>
        </div>
        {{/each}}
        <div class="d-flex justify-content-center ">
            {{#if data.hasPrevPage}}
            <a class="btn btn-outline-success m-3" href="{{data.prevLink}}">Anterior</a>
            {{else}}
               <a class="btn btn-outline-success m-3 disabled" href="{{data.prevLink}}">Anterior</a>
            {{/if}}
            <p>{{data.page}}</p>
            {{#if data.hasNextPage}}
            <a class="btn btn-outline-success m-3" href="{{data.nextLink}}">Siguiente</a>
            {{else}}
               <a class="btn btn-outline-success m-3 disabled" href="{{data.nextLink}}">Siguiente</a>
            {{/if}}
        </div>
        {{else}}
        <div class="row justify-content-between">
            <h3>No hay productos para mostrar</h3>
        </div>
        {{/if}}

    </div>