<div class="container">
    <h4 class="container d-flex justify-content-around mt-5">Carrito</h4>
    <div class="container mt-5 mb-2">
        <div class="row justify-content-between">
            <h4>Sus productos</h4>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Imagen</th>
                        <th scope="col">Producto</th>
                        <th scope="col">Cantidad</th>
                        <th scope="col">Precio</th>
                        <th scope="col">Subtotal</th>
                        <th scope="col">Eliminar</th>
                    </tr>
                </thead>
                <tbody id="tBodyContainer" data-cid="{{user.cId}}">
                </tbody>
            </table>
            <div class="container d-flex justify-content-around mb-5">
                <button type="button" class="btn btn-outline-danger" onClick="clearCart('{{user.cId}}')">Vaciar Carrito</button>
                <button type="button" class="btn btn-outline-success" onClick="buyCart('{{user.cId}}', '{{user.email}}', '{{user.role}}')">Finalizar compra!</button>
            </div>
        </div>
    </div>
    <div class="container d-flex justify-content-around mb-5"></div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/scripts/cart.js"></script>