<div class="p-3 m-2 container d-flex flex-column align-items-center">
    <h1>Bienvenido, iniciaste sesion como:</h1>
    {{#if user.username}}
       <h3>
        Username: {{user.username}} <br>
        Nombre: {{user.complete_name}} <br>
        Email: {{user.email}} <br>
        Tipo de cuenta: {{user.role}}<br>
    </h3>
    {{else}}
       <h3>
        Nombre: {{user.first_name}} <br>
        Apellido: {{user.last_name}} <br>
        Edad: {{user.age}} <br>
        Email: {{user.email}}
        Tipo de cuenta: {{user.role}}<br>
    </h3>
    {{/if}}
    {{#if isUser}}
        <a href="/upLoaderPremium" class="btn btn-outline-success mt-3">Actualizar a Premium</a>
    {{/if}}
</div>