
<div class="container">
    <div>
        <img src="{{product.thumbnail}}" class="imgType" alt="{{product.title}}" />
    </div>
    <div>
        <h5 class="card-title">{{product.title}}</h5>
        <p class="card-text"><small>{{product.category}}</small></p>
        <p class="card-text">{{product.description}}</p>
        <p class="card-text">${{product.price}}</p>
        <div class="d-flex flex-column">
            <a id="idAddToCart" class="btn btn-outline-success" onclick='handleAddToCart("{{user.cId}}", "{{product._id}}")'>Add to cart</a>
        </div>
    </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/scripts/item.js"></script>